body{
    background-color: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.container {
    width:100%;
  margin: auto;
    height:200px;
    background-color:transparent;  
  }
  
  @media (min-width: 414px) {
    .container {
      max-width: 400px;
      
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
     	
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
     	
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
     		
    }

    my-video{
        width: 100%;
    }
  }


 #cont1{
     color: white;
     margin:4%;
 }

.name {
    color: white;
    background-color:black;
    margin:auto;
    font-size: 30pt;
    width: 400;
}
.footer{

    background-color:black;
    margin:auto;
    padding:1%;
    width: 400;
    height: 200px;
}

img {
    width: 30%;
    margin:auto;
    border-radius: 30px;
}


#my-video{
    margin:0;
}