body{
  background-color: rgb(19, 19, 19);
  background-position:center;
  font-family: 'Roboto', sans-serif;
background-repeat: no-repeat;
background-size: cover;
padding: 10px;
}

.responsive{
  
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 50px;
}





.perfil{

  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-left: auto;
  background-color: black;
  border-radius: 100%;
background-position: center;
background-image: url(polancoartistlogo.PNG);
background-size: cover;
margin-top: 14px;

 }

 


.name{
  color: rgb(255, 254, 254);
  background-color: rgb(0, 0, 0);
  width: 360px;
  height:60px;
 margin: 0 auto;
 text-align:center;
 font-size:30pt;
 border-radius:50px; 
 margin-top: 14px !important;
}


#mivideo{
  width: 350px;
  height: 500px;
  border-radius:50px;
  margin-top: 14px !important;
  margin-right: 5px;
float: left;
background-position: relative;
margin: 45px;

}






.footer{
background-color:transparent ;
margin: 0 auto;
width: 100%;
height: 300px;
margin-top: auto !important;
border-radius:50px;
float:left;

}

@media (min-width: 1281px) {
  .container{
    width: 1281px;
   
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .container{
    width: 1280px;
   
  }

}
@media (min-width: 768px) and (max-width: 1024px) {

  .container{
    width: 1024px;
   
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container{
    width: 768px;
   
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  .container{
    width: 481px;
   
  }
  
}
@media (min-width: 320px) and (max-width: 480px) {
  .container{
    width: 400px;

   
  }
}


.container{
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}



.statistics{
  color:white;
  width:200px ;
  height: 30px;
  margin:0 auto;
  padding:5px;
  text-align:center;
  border-radius: 50px;
  margin-top: 14px !important;

}

/*para cambiar modificaciones estadisticas */

.statistics:after {

  content:'Muy buenos dias'; 
  visibility: visible;
  background-color:black;
  width:200px ;
  height:30px;
  margin:0 auto;
  padding:5px;
  font: size 14px ;
  text-align:center;
  border-radius: 50px;
}


.footer{
  background-color:transparent ;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  margin-top: 14px !important;
  border-radius:50px;
  display: flex;
  }


  
.image-content{

width: 100px;
height: 100px;


background-color: black;
background-size: cover;
background-image: url(polancoartistlogo.PNG);
border-radius: 100%;
background-position: center;
margin-top: 14px;

}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
  color: transparent;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

li:last-child {
  flex-grow: 10;
}